[Unit]
Description=Sunrise and sunset calculation service
Documentation=https://git.io/sunrise

[Service]
ExecStart=@bindir@/sunrise
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
